:root {
  --first-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --alt-bg-color: #f5f4fa;
  --calm-icon-corol: #afb1b8;
  --main-transition-duration: 250ms;
  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0px 0px;
}

body {
  min-width: 240px;
  background-color: var(--first-bg-color);
  color: var(--first-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--black-text {
  color: #000000;
}
.logo--white-text {
  color: var(--first-bg-color);
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal {
  width: calc(100% - 30px);
  padding: 40px;
  background-color: var(--first-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
@media screen and (max-height: 750px) {
  .modal {
    margin-top: calc((750px - 100vh) * 0.5);
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--first-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 340px) {
  .modal__title {
    font-size: calc((100vw - 100px) / 12);
  }
}

.modal__wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 0px 42px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.modal__input:focus + .modal__icon {
  color: var(--accent-color);
}

.modal__input--comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}
.modal__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__input--privacy {
  position: absolute;
  left: 56px;
  bottom: 126px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__label--privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__label--privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (max-width: 479px) {
  .modal__label--privacy {
    font-size: calc((100vw - 150px) / 27.5);
  }
}

.modal__check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  color: transparent;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.modal__input--privacy:checked + .modal__label--privacy > .modal__check {
  background-color: var(--accent-color);
  color: var(--first-bg-color);
  border: 0px solid var(--accent-color);
}

.modal__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .modal__btn {
    width: 41.66vw;
    min-width: 130px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--first-bg-color);
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
@media screen and (min-width: 480px) {
  .menu {
    padding: 48px calc(40px + (100% - 480px) * 0.5);
  }
}
.menu.is-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 99;
}
.menu__navigation {
  width: auto;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 280px) {
  .menu__navigation {
    font-size: calc((100vw - 100px) / 4.5);
  }
}
.menu__link {
  color: var(--title-text-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link--soc {
  color: var(--accent-color);
}
.menu__link--tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}
@media screen and (max-width: 370px) {
  .menu__link--tel {
    font-size: calc((100vw - 100px) / 8);
  }
}
.menu__link--mail {
  font-size: 24px;
  line-height: 1.17;
  color: var(--first-text-color);
}
@media screen and (max-width: 370px) {
  .menu__link--mail {
    font-size: calc((100vw - 100px) / 11.3);
  }
}
.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  margin-top: 64px;
}
.menu__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 20px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 440px) {
  .menu__social {
    font-size: calc((100vw - 100px) / 19);
  }
}
.menu__social :not(:last-child) ::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--calm-icon-corol);
  background-color: var(--first-bg-color);
  border-radius: 50%;
}
.social__link:hover, .social__link:focus {
  color: var(--first-bg-color);
  background-color: var(--accent-color);
}
.social__link--dark {
  color: var(--first-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}
.nav__link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contact__link {
  color: var(--first-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;
  }
}
.contact__icon {
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .contact__icon--mail {
    width: 14px;
    height: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .contact__icon--tel {
    width: 10px;
    height: 14px;
  }
}

.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.burger-btn:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn__icon {
  fill: currentColor;
}
.burger-btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 480px) {
  .burger-btn--close {
    right: calc(15px + (100% - 480px) * 0.5);
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  padding: 118px 0px;
  background-color: var(--second-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-mobile-1x.jpg") 1x, url("../images/hero-mobile-2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-mobile-1x.jpg") 1x, url("../images/hero-mobile-2x.jpg") 2x);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-mobile-1x.jpg") 1x, url("../images/hero-mobile-2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-tablet-1x.jpg") 1x, url("../images/hero-tablet-2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-tablet-1x.jpg") 1x, url("../images/hero-tablet-2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-tablet-1x.jpg") 1x, url("../images/hero-tablet-2x.jpg") 2x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    width: 100%;
    height: 600px;
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), image-set(url("../images/hero-desktop-1x.jpg") 1x, url("../images/hero-desktop-2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url("../images/hero-desktop-1x.jpg") 1x, url("../images/hero-desktop-2x.jpg") 2x);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), image-set(url("../images/hero-desktop-1x.jpg") 1x, url("../images/hero-desktop-2x.jpg") 2x);
  }
}
.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--first-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.adv {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .adv {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .adv__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .adv__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .adv__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .adv__item {
    width: 270px;
  }
}
.adv__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--alt-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.adv__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .adv__subtitle {
    text-align: left;
  }
}
.adv__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--first-bg-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--alt-bg-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
.team__wrap {
  background-color: var(--first-bg-color);
  padding-bottom: 30px;
  padding-top: 24px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.clients__item {
  height: 92px;
  min-width: 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--calm-icon-corol);
  border: 1px solid var(--calm-icon-corol);
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 93px;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    gap: 93px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.footer__wrap--grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bg-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
}
.footer__email {
  width: 100%;
  max-width: 450px;
  padding: 14px 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.footer__email:focus {
  border-color: var(--first-bg-color);
}
.footer__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .footer__email {
    margin-bottom: 20px;
  }
}
.footer__btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    padding: 10px 28px;
  }
}
.footer__icon {
  fill: var(--first-bg-color);
}

.address {
  font-style: inherit;
  margin-top: 20px;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
  }
}
.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__description {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.portfolio__link:hover .portfolio__description, .portfolio__link:focus .portfolio__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.portfolio__group {
  background-color: var(--first-bg-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio__subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--alt-bg-color);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */