.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--alt-bg-color);

  &__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__wrap {
    background-color: var(--first-bg-color);
    padding-bottom: 30px;
    padding-top: 24px;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 16px;
  }
}
