.menu {
  display: none;
  background-color: var(--first-bg-color);
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__navigation {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: var(--title-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__link--soc {
    color: var(--accent-color);
  }

  &__link--tel {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
  }

  &__link--mail {
    font-size: 24px;
    line-height: 1.17;
    color: var(--first-text-color);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
    margin-top: 64px;
  }

  &__social {
    display: inline-flex;
    position: relative;
    gap: 20px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &__social :not(:last-child) ::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
